<link rel="stylesheet" href="/css/chatbox.css">
<section id="chat-box">
<div class="chat-container">
<div class="friends-message"><p>Other Message</p></div>
<div class="user-message"><p>Self Message</p></div>
</div>
<div id="chat-bar">
<form action="Post">
<input type="text" placeholder="Type Message Here">
<input type="submit" value="Send">
</form>
</div>
</section>