<li class="comment-<%= comment._id%>">
    <div class="comment-author-details">
        <div class="comment-author-name">
            <small>
                <i class="fas fa-user fa-2x"></i>
                <%=comment.user.name%>
            </small>
        </div>
        <div class="comment-delete-button-container">
            <a href="/comments/destroy/<%=comment._id%>">
                <i class="far fa-window-close fa-2x"></i>
                </a>
        </div>
        </div>
        <div class="comment-content">
            <p>
             <%=comment.content%>
            </p> 
        </div>  
</li>