<footer>
  <p>Developed by<b> Manik Pokhetra</b></p>
  <ul id="footer-nav">
    <li>
       <a href="/">Codeial</a> 
       <a href="/">Home</a> 
    </li>
  <%- script %>
  <script>
    <%if(flash.success && flash.success.length ){%>   
      new Noty({
        theme : 'metroui',
        text : '<%= flash.success%>',
        type : 'success',
        layout : 'topRight',       
        timeout : 1500,
        closeWith: ['click', 'button'],
    
    }).show();
        <%}%> 
        <%if(flash.error && flash.error.length ){%>   
         // error flash
    new Noty({
        theme : 'metroui',
        text : '<%= flash.error%>',
        type : 'error',
        layout : 'topRight',       
        timeout : 1500,
        closeWith: ['click', 'button'],
    
    }).show();
    <%}%> 
   </script>
</footer>