<div id="navbar">
    <header id="main-header">
        <nav>
            <ul>
                <li id="left-nav">
                   <a href="/">Codeial</a> 
                   <a href="/">Home</a> 
                </li>
                <li id="right-nav">
                    <a href="/users/register">Register</a> 
                    <a href="/users/login">Login</a> 
                 </li>
            </ul>
        </nav>
    </header>
</div>