 <link rel="stylesheet" href="/css/forms.css">

 <section id="main-section">
    <h2>Posts Timeline</h2>
    <% if(locals.user){ %> 
       <div class="form-container">
        <form action="/posts/create" method="post">
            <textarea name="content" cols="50" rows="6" placeholder="Post your mood..."></textarea>
            <input type="submit" value="Post">
        </form>
       </div>
    <%} else {%>
   <p> Login to Post</p>
    <% } %>
    
    <div id="posts-container">
        <ul>
        <% for(i of all_posts){%>
            <%- include('posts.ejs') %>
        <%}%>
        </ul>
    </div>
 </section>

<aside>
    hello , I am a sidebar
</aside>

