 <link rel="stylesheet" href="/css/forms.css">
 <section id="main-section">
    <h2>Posts Timeline</h2>
    <% if(locals.user){ %> 
       <div class="form-container">
        <form id="new-post-form" action="/posts/create" method="post">
            <textarea name="content" cols="50" rows="6" placeholder="Post your mood..."></textarea>
            <input type="submit" value="Post">
        </form>
       </div>
    <%} else {%>
   <p> Login to Post</p>
    <% } %>
    
    <div id="posts-container">
        <ul>
        <% for(i of all_posts){%>
            <%- include('posts.ejs') %>
        <%}%>
        </ul>
    </div>
 </section>

<aside id="home-sidebar">
    <h3 style="text-align: center;"> All Users</h3>
    <ul>
    <% for(user of users){%>
         <li>
             <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
         </li>
    <%}%>
    </ul>
</aside>

<!-- scripts -->
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
