
<link rel="stylesheet" href="/css/forms.css">

<div class="form-container">
  <h2>Login to our account</h2>
 <form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="submit" value="Login">
    
  </form>
  <button class="social-sign-in-up">
    <a href="/users/auth/google">
     <img src="/assets/img/icons/btn_google_dark_focus_ios.svg">
     <p>Sign in With Google</p></a>
     
   </button>
</div>
