<div>
    <p>Hi, <strong><%= post.user.name%></strong></p>
    <h4>You new Post just got published on Codeial !!!</h4>
    <blockquote> <%=post.content%></blockquote> 
    <p>Thanks !!!</p>
    <p><b>Codeial</b></p>
</div>

