<div>
    <p>Hi, <strong><%= post.user.name%></strong></p>
    <h4>You new Post<strong> <%=post.content%></strong> just got published on Codeial !!!</h4>
    <p>Thanks !!!</p>
    <p><b>Codeial</b></p>
</div>