.form-container{
    margin: auto;
    // form scss
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
        // input style
        input{
            padding: 1.5rem;
            font-size: 1rem;
            outline : none;
            color: rgb(109, 109, 109);
            // submit input style
            &[type="submit"]{
                color: rgb(255, 255, 255);
                background-color: #009A3E;
                box-shadow: 0 0 3px #009A3E;
                border: none;
                padding: 0.8rem;
                &:hover{
                    box-shadow: none;   
                }
            }
            &[type="file" ] {
                background-color: #fff;   
                border: 1px solid black;
                padding: 1.5rem !important;
               }

        }
    }
}