.form-container{
    margin: auto;
    // form scss
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
        // input style
        input{
            padding: 1.5rem;
            font-size: 1rem;
            outline : none;
            color: rgb(109, 109, 109);
            // submit input style
            &[type="submit"]{
                color: rgb(255, 255, 255);
                background-color: #009A3E;
                box-shadow: 0 0 3px #009A3E;
                border: 1px solid black;
                padding: 0.8rem;
                &:hover{
                    box-shadow: none; 
                    cursor: pointer;  
                }
            }
            &[type="file" ] {
                background-color: #fff;   
                border: 1px solid black;
                padding: 1.5rem !important;
               }

        }
        .social-sign-in-up{
            font-size: 1rem;
            background: #fff;
            white-space: nowrap;
            transition: all 0.2s ease-in-out;
            padding:0.5rem;
            &:hover{
                cursor: pointer;
                background: #4285F4;
            }
            a{
                background: #4285F4;
              
                display: flex;
                text-decoration: none;
                color: #fff;
                p{
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

// 