.form-container{
    margin: auto;
    // form scss
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
        width: 80%;
        // input style
        input{
            padding: 1.5rem;
            font-size: 1rem;
            outline : none;
            color: rgb(109, 109, 109);
            // submit input style
            &[type="submit"]{
                color: rgb(255, 255, 255);
                background-color: #009A3E;
                box-shadow: 0 0 3px #009A3E;
                border: 1px solid black;
                padding: 0.8rem;
                &:hover{
                    box-shadow: none; 
                    cursor: pointer;  
                }
            }
            &[type="file" ] {
                background-color: #fff;   
                border: 1px solid black;
                padding: 1.5rem !important;
               }

        }
       
    }
}

// button google singin
.social-sign-in-up{
    font-size: 1rem;
    border : none;
    width: 80%;
    margin-bottom: 1rem;
    &:hover{
        cursor: pointer;
    }
    a{
        display: flex;
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;

        p{
            margin-left: 0.5rem;
        }
    }
}

// buttons
.google-btn{
    background: #4285F4;
    &:hover{
        background: #4f90fa;
    }
}
.github-btn{
    background: #000;
    img{
        height : 46px;
    }
    &:hover{
        background: rgb(73, 73, 73);
    }
}