body{
    margin: 0;
    font-size: 16px;
    background-color: #F0F2F5;
    font-family: 'Montserrat', sans-serif;
    h1,h2,h3,h4{
        color: #45a29e;
      
        text-align: center;
    }
    // page container styles
#page-container{
    position: relative;
    min-height: 100vh;
}
}
// header styles
#main-header{
background-color: black;
padding: 1.2rem;
ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // navbar li styles
    li{
        list-style-type: none;
        
        a{
            color: #EF7126;
            text-decoration: none;
            padding-left: 1.2rem;
            font-size: 1.2rem;
            &:hover{
                color:#8EDC9D;
            }
        }
    }
    // right nav
    #right-nav{
        margin-right: 1.5rem;
    }
}
}
// main body
#main-body{
    padding-bottom: 5rem; //same as footer height
    display: flex;
    // main section of page
#main-section{
        display: inline-flex;
        flex-direction: column;
        width : 70%;
        
// posts timeline
#posts-container{
    ul{
        margin-top: 3rem;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        li{
            width: 60%;
            list-style-type: none;
            background-color: #fff;
            padding: 2rem;
            margin-bottom: 1.5rem;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            .post-author-details{
                display: flex;
                align-items: center;
                justify-content: space-between;
                // author name style
                small{
                    font-size:16px;
                    font-weight: 600;
                    i:hover{
                        color:rgb(22, 151, 211);
                    }
                }
                // fa style
                i{
                    margin-right: 1rem;
                    color:rgb(22, 151, 211);
                    &:hover{
                        
                        color:#EF7126;
                    }
                }
            }
        }
    }
       
    }
    // comments timeline
    #comments-container{
        ul{
            li{
                width: 80%;
                // border : 1px solid black;
                .comment-author-details{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                     // author name style
                small{
                    font-size:16px;
                    font-weight: 600;
                    i:hover{
                        color: #EF7126;
                    }
                }
                // fa style
                i{
                    margin-right: 1rem;
                    color:rgb(22, 151, 211);
                    transition: all 0.3s ease-out;
                    &:hover{
                        color:#218C8D;
                        transform: scale(1.05);    
                    }
                }
                }
            }
        }
    }
}
    // aside section
    aside{
        width: 20%;
        border-left: 1px solid black;
        ul{
            li{
                list-style-type: none;
                margin-bottom: 2rem;
                a{
                    color:rgb(22, 151, 211);
                  
                    font-size: 1.2rem;
                    text-decoration: none;
                    font-weight: 600;
                    &:hover{
                        color: #218C8D;
                    }
                }
            }
        }
    }
}
footer{
    position: absolute;
    bottom : 0;
    width: 100%;
    height: 5rem; 

    color: #8EDC9D;
    background-color: black;
    display: flex;
    align-items: center;
    p{
        padding-left : 2rem;
    }
    // nav bar footer
#footer-nav{
li{
    list-style-type: none;
    a{
         color: #EF7126;;
        text-decoration: none;
        padding-left: 1.2rem;
        &:hover{
            color:#8EDC9D;
        }
    }
}
}
}
