body{
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
// page container styles
#page-container{
    position: relative;
    min-height: 100vh;
}
// header styles
#main-header{
background-color: black;
padding: 1.2rem;
ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // navbar li styles
    li{
        list-style-type: none;
        
        a{
            color: #fff;
            text-decoration: none;
            padding-left: 1.2rem;
            &:hover{
                color:rgb(22, 151, 211);
            }
        }
    }
    // left nav
    #left-nav{
        
    }
    // right nav
    #right-nav{
        margin-right: 1.5rem;
    }
}
}
// main body
#main-body{
    padding-bottom: 5rem; //same as footer height
}
footer{
    position: absolute;
    bottom : 0;
    width: 100%;
    height: 5rem; 

    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    p{
        padding-left : 2rem;
    }
    // nav bar footer
    #footer-nav{
        li{
            list-style-type: none;
            a{
                color: #fff;
                text-decoration: none;
                padding-left: 1.2rem;
                &:hover{
                    color:rgb(22, 151, 211);
                }
            }
        }
    }
}