<div>
    <p>Hi, <%= comment.user.name%></p>
    <p>You comment just got published on Codeial !!!</p>
    <blockquote > <%=comment.content%></blockquote>
    <p>Thanks !!!</p>
    <p><b>Codeial</b></p>
</div>