.form-container {
  margin: auto; }
  .form-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem; }
    .form-container form input {
      padding: 1.5rem;
      font-size: 1rem;
      outline: none;
      color: #6d6d6d; }
      .form-container form input[type="submit"] {
        color: white;
        background-color: #009A3E;
        box-shadow: 0 0 3px #009A3E;
        border: 1px solid black;
        padding: 0.8rem; }
        .form-container form input[type="submit"]:hover {
          box-shadow: none;
          cursor: pointer; }
      .form-container form input[type="file"] {
        background-color: #fff;
        border: 1px solid black;
        padding: 1.5rem !important; }

.social-sign-in-up {
  font-size: 1rem;
  background: #4285F4;
  border: none;
  width: 100%;
  margin-bottom: 1rem; }
  .social-sign-in-up:hover {
    cursor: pointer;
    background: #4f90fa; }
  .social-sign-in-up a {
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem; }
    .social-sign-in-up a p {
      margin-left: 0.5rem; }
